<h1>Listing Reservations</h1>
 
<table>
  <tr>
    <th>Location</th>
    <th>Pickup Time</th>
    <th>Dropoff Time</th>
  </tr>
 
<<<<<<< HEAD
<<<<<<< HEAD
  <%=@reservations.each do |reservation| %>
=======
  <%= if @reservation!=nil
    @reservation.each do |reservation| %>
>>>>>>> b0761eaff8f4a6d0efe2be2f0aea90b9f762959f
=======
  <%= if @reservation!=nil
    @reservation.each do |reservation| %>
>>>>>>> b0761eaff8f4a6d0efe2be2f0aea90b9f762959f
    <tr>
      <td><%= reservation.pickup_location %></td>
      <td><%= reservation.pickup_time %></td>
      <td><%= reservation.dropoff_time %></td>
    </tr>
<<<<<<< HEAD
<<<<<<< HEAD
  <% end %>
  </table>
=======
  <% end
  end %>
</table>
>>>>>>> b0761eaff8f4a6d0efe2be2f0aea90b9f762959f
=======
  <% end
  end %>
</table>
>>>>>>> b0761eaff8f4a6d0efe2be2f0aea90b9f762959f
<%= link_to 'New Reservation', new_reservation_path %>